//VARIABLES 
@import 'abstracts/variables';

//COMPONENTS
@import 'components/speedtyper';
@import 'components/registerform';
@import 'components/landinggraphic';

//LAYOUT
@import 'layout/header';

body {
  font-family: $code-mono;
  background-color: $dark;
}

.row {
  display: flex;
  flex-direction: row;
}

a {
  text-decoration: underline;
}
